html,
body {
  background-color: #d5e1ef;
  height: 100%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#card {
  background-color: white;
  width: 320px;
  height: 497px;
}

#qr-code {
  width: 288px;
  margin: auto;
}
